<app-menu-pannel></app-menu-pannel>

<div *ngIf="apkDownloadMessage" class="download_apk" >Please Wait Mobile App is Downloading</div>
<hr>
<div class="row">
  <div class="col-sm-6" style="text-align: center">
    <h5>Download For Android Phone </h5>
    
    <small class="instruction" style="color:red;">Application support only android 5.5 and above version</small>
  </div>
  <div class="col-sm-6" style="text-align:center">
    <a class="btn btn-outline-success btn-sm" (click)="downloadFile()" role="button">Download</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6" style="text-align: center">
    <h5>Download For iOS Phone</h5>
    <small class="instruction" style="color:red;">Application support only iOS 5.1 and above version</small>

  </div>
  <div class="col-sm-6" style="text-align: center">
    <a class="btn btn-outline-success btn-sm" (click)="downloadFile()" role="button">Download</a>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-6" style="text-align: center">
    <h5>Download For Windows Phone</h5>

  </div>
  <div class="col-sm-6" style="text-align:center;">
    <a class="btn btn-outline-success btn-sm" (click)="downloadFile()" role="button">Download</a>
  </div>
</div>
<hr>
<!-- <div class="col-sm-12" style="text-align: center">
    <div class="jumbotron">
      <h4>Download For Anroid Phone
        <a class="btn btn-outline-success btn-sm" (click)="downloadFile()" role="button">Download</a>
      </h4>
      <h4>Download For iOS Phone
        <a class="btn btn-outline-success btn-sm" (click)="downloadFile()" role="button">Download</a>
      </h4>
      <h4>Download For Windows Phone
        <a class="btn btn-outline-success btn-sm" (click)="downloadFile()" role="button">Download</a>
      </h4>
    </div>
  </div> -->
<!-- </div> -->