.card-container.card {
    background-color: #17a2b8 !important;
    margin: auto;
}

    p.head{
    font-family: cursive;
    color: mediumblue;
}

div.uploadMessage {
    font-family: cursive;
    color:greenyellow;
}
