<app-menu></app-menu>

<div class="row">
  <div class="card card-container bg-info">
    <div class="card-header">
      <div class="row"> 
        <div class="col-sm-2 text-center">
        <a data-toggle="modal" data-target="#myModal" (click)="openLg(content)">
          <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Help" style="color:navy;font-size:25px;"></i>
        </a>
      </div>
        <div class="col-sm-2 h5  text-center">
          Upload PDF File
        </div>
        <div class="col-sm-8 text-center">

          <div *ngIf="currentFileUpload" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
              aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
              {{progress.percentage}}%</div>
          </div>

        </div>
      </div>
    </div>

    <!-- public salaryPDFFileMsg:boolean=false;
  public form16PDFFileMsg:boolean=false;
  public policyPDFFileMsg:boolean=false;
  public coursePDFFileMsg:boolean=false; -->


    <div class="card-deck">

      <div class="card bg-info">
        <div class="card-body text-center">
          <p class="head">Upload Salary File</p>
          <div *ngIf="salaryPDFFileMsg" class="uploadMessage">
            Salary File is completely uploaded!
          </div>


          <form class="form-inline" name="myForm1" (ngSubmit)="uploadForm1.form.valid && uploadDocument(1)" #uploadForm1="ngForm">
            <!-- <form name="form-login" #userForm="ngForm" (ngSubmit)="userForm.form.valid && saveAccount()" novalidate> -->

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">GsNo</div>
              </div>
              <input class="form-control form-control-sm" id="inlineFormInputGroupUsername2" type="text" name="gsno1" [(ngModel)]="admin.gsno1"
                #gsno1="ngModel" placeholder="Enter gsno" required>
              <div *ngIf="uploadForm1.submitted && !gsno1.valid" class="help-block validation_require"></div>
            </div>


            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Year-Month</div>
              </div>
              <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" name="date" [(ngModel)]="admin.date"
                #date="ngModel" placeholder="Enter date" placeholder="YYYY-MM">
              <div *ngIf="uploadForm1.submitted && !date.valid" class="help-block validation_require"></div>
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Upload</div>
              </div>
              <input type="file" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" (change)="selectFile($event)"
                name="salaryPDFFile" #salaryPDFFile="ngModel" [(ngModel)]="admin.salaryPDFFile" required>
              <div *ngIf="uploadForm1.submitted && !salaryPDFFile.valid" class="help-block validation_require"></div>
            </div>

            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!salaryPDFFile">Upload</button>&nbsp;
            <button type="reset" class="btn btn-warning btn-sm" [disabled]="!salaryPDFFile" (click)="reset(1)">Reset</button>

          </form>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card bg-info">
        <div class="card-body text-center">
          <p class="head">Upload Form16 File</p>
          <div *ngIf="form16PDFFileMsg" class="uploadMessage">
            Form16 File is completely uploaded!
          </div>

          <!-- <form class="form-inline" name="myForm2" (ngSubmit)="uploadDocument(2)" #uploadForm2="ngForm"> -->
          <form class="form-inline" name="myForm2" (ngSubmit)="uploadForm2.form.valid && uploadDocument(2)" #uploadForm2="ngForm">

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">GsNo</div>
              </div>
              <input class="form-control form-control-sm" id="inlineFormInputGroupUsername2" type="text" name="gsno2" [(ngModel)]="admin.gsno2"
                #gsno2="ngModel" placeholder="Enter gsno" required>
              <div *ngIf="uploadForm2.submitted && !gsno2.valid" class="help-block validation_require"></div>
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">From</div>
              </div>
              <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" name="from" [(ngModel)]="admin.from"
                #from="ngModel" placeholder="Enter from" placeholder="From(YYYY)">
              <div *ngIf="uploadForm2.submitted && !from.valid" class="help-block validation_require"></div>
            </div>



            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">To</div>
              </div>
              <input type="text" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" name="to" [(ngModel)]="admin.to"
                #to="ngModel" placeholder="Enter to" placeholder="To(YYYY)">
              <div *ngIf="uploadForm2.submitted && !to.valid" class="help-block validation_require"></div>
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Upload</div>
              </div>
              <input type="file" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" (change)="selectFile($event)"
                name="form16PdfFile" #form16PdfFile="ngModel" [(ngModel)]="admin.form16PdfFile" required>
              <div *ngIf="uploadForm2.submitted && !form16PdfFile.valid" class="help-block validation_require"></div>
            </div>


            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!form16PdfFile">Upload</button>&nbsp;
            <button type="reset" class="btn btn-warning btn-sm" [disabled]="!form16PdfFile" (click)="reset(2)">Reset</button>
          </form>

        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card bg-info">
        <div class="card-body text-center">
          <p class="head"> Upload Policy File</p>
          <div *ngIf="policyPDFFileMsg" class="uploadMessage">
            Policy File is completely uploaded!
          </div>

          <!-- <form class="form-inline" name="myForm3" (ngSubmit)="uploadDocument(3)" #uploadForm3="ngForm"> -->
          <form class="form-inline" name="myForm3" (ngSubmit)="uploadForm3.form.valid && uploadDocument(3)" #uploadForm3="ngForm">

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Policy</div>
              </div>
              <select id="user_time_zone" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" size="0" name="policyType"
                [(ngModel)]="admin.policyType" #policyType="ngModel" required>
                <option [value]="0">Select</option>
                <option value="BCA_POLICY">BCA POLICY</option>
                <option value="CG_LLP_POLICY">CG LLP POLICY</option>
                <option value="DPC_POLICY">DPC POLICY</option>
                <option value="MACP_POLICY">MACP POLICY</option>
                <option value="POSTING_POLICY">POSTING POLICY</option>
              </select>
              <div *ngIf="uploadForm2.submitted && !policyType.valid" class="help-block validation_require"></div>
            </div>

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Upload</div>
              </div>
              <input type="file" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" (change)="selectFile($event)"
                name="policyPdfFile" #policyPdfFile="ngModel" [(ngModel)]="admin.policyPdfFile" required>
              <div *ngIf="uploadForm2.submitted && !policyPdfFile.valid" class="help-block validation_require"></div>
            </div>



            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!policyPdfFile">Upload</button>&nbsp;
            <button type="reset" class="btn btn-warning btn-sm" [disabled]="!policyPdfFile" (click)="reset(3)">Reset</button>
          </form>
        </div>
      </div>
    </div>

    <div class="card-deck">
      <div class="card bg-info">
        <div class="card-body text-center">
          <p class="head">Upload Course File</p>
          <div *ngIf="coursePDFFileMsg" class="uploadMessage">
            Course File is completely uploaded!
          </div>
          <!-- <form class="form-inline" name="myForm4" (ngSubmit)="uploadDocument(4)" #uploadForm4="ngForm"> -->
          <form class="form-inline" name="myForm4" (ngSubmit)="uploadForm4.form.valid && uploadDocument(4)" #uploadForm4="ngForm">

            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Course</div>
              </div>
              <select id="user_time_zone" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" placeholder="Username"
                size="0" name="courseType" [(ngModel)]="admin.courseType" #courseType="ngModel" required>
                <option [value]="0">Select</option>
                <option value="COURSE_RESULT">COURSE RESULT</option>
                <option value="UPCOMING_COURSE">UPCOMING COURSE</option>
              </select>
              <div *ngIf="uploadForm2.submitted && !courseType.valid" class="help-block validation_require"></div>
            </div>


            <div class="input-group mb-2 mr-sm-2">
              <div class="input-group-prepend">
                <div class="input-group-text">Upload</div>
              </div>
              <input type="file" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" (change)="selectFile($event)"
                name="coursePdfFile" #coursePdfFile="ngModel" [(ngModel)]="admin.coursePdfFile" required>
              <div *ngIf="uploadForm2.submitted && !courseType.valid" class="help-block validation_require"></div>
            </div>



            <button type="submit" class="btn btn-primary btn-sm" [disabled]="!coursePdfFile">Upload</button>&nbsp;
            <button type="reset" class="btn btn-warning btn-sm" [disabled]="!coursePdfFile" (click)="reset(4)">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color:cadetblue;">
    <div class="col-sm-10">
      <h6 class="modal-title" id="myModalLabel" style="color:cornsilk">Upload Doc File Help Document</h6>
    </div>
    <div class="col-sm-2">
      <a class="close" data-dismiss="modal" data-toggle="tooltip" title="Close" (click)="d('Cross click')" style="color:firebrick;font-size:20px;"
        aria-hidden="true">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div style="text-align: center;">
      <iframe src="assets\images\help_doc\Upload_File_DOC_HELP.pdf" frameborder="0" style="height:30%; width: 100%;"></iframe>
    </div>
  </div>
  <div class="modal-footer" style="background-color:lightblue;text-align:center">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>