<app-menu></app-menu>
<!-- <div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <div class="card-deck">
        <div class="card bg-light">
          <div class="card-body text-center">
            <p class="card-text">Welcome to GREF ABHILEKH APPLICATION</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-12">
    <div class="card card-container bg-light">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-2 h6  text-center">
            <i class="fa fa-search" aria-hidden="true" style="color:navy;font-size:20px;"></i>
            Search Details
          </div>
          <div class="col-sm-8 text-center" style="    font-family: cursive;color: crimson;">
            <div *ngIf="globalmsg">
              Please Select a GsNo!
            </div>
          </div>
        </div>
      </div>

      <div class="card-deck">
        <div class="card bg-light">
          <div class="card-body text-center">
            <form class="form-inline">
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">GsNo</div>
                </div>
                <input class="form-control form-control-sm" (change)="selectChangeHandler($event)" id="inlineFormInputGroupUsername2" type="text"
                  name="gsno" [(ngModel)]="admin.gsno" #gsno="ngModel" placeholder="Enter gsno" required>
                <!-- <div *ngIf="uploadForm1.submitted && !gsno1.valid" class="help-block validation_require"></div> -->
              </div>

              <div class="input-group mb-2 mr-sm-2">
                <!-- <a class="btn btn-warning" role="button" [disabled]="!buttonDisabled" (click)="getPersonalInfo()">Personal Details</a> -->
                <button type="button" class="btn btn-warning  btn-sm" [disabled]="!buttonDisabled" (click)="getPersonalInfo()">Personal Details</button>
              </div>

              <div class="input-group mb-2 mr-sm-2">
                <button type="button" class="btn btn-success  btn-sm" [disabled]="!buttonDisabled" (click)="getFamilyInfo()">Family Details</button>
              </div>
              <div class="input-group mb-2 mr-sm-2">
                <button type="button" class="btn btn-primary  btn-sm" [disabled]="!buttonDisabled" (click)="getEducationInfo()">Education Details</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12" *ngIf="showPersonalDetails">
    <div class="card card-container bg-info">
      <div class="card-header">
        <div class="row">
          <!-- <div class="col-sm-2 text-center">
          <i class="fa fa-plus-square-o" data-toggle="tooltip" title="Add BlackList" style="color:green;font-size:30px;" (click)="addBlackList()"></i>
        </div> -->
          <div class="col-sm-8 h5  text-center">
            Personal Details
          </div>
          <!-- <div class="col-sm-2 text-right">
          <span class="badge badge-pill badge-danger  text-center;">{{noofBlackList}} </span>
        </div> -->
        </div>
      </div>
      <div class="card-body text-center">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>GsNo</th>
                <th>Name</th>
                <th>DOB</th>
                <th>DAO</th>
                <th>DOR</th>
                <th>MedCat_Desc</th>
                <th>Marital Status</th>
                <th>Gender</th>
                <th>Trade Desc</th>
              </tr>
            </thead>
            <tbody>

              <tr *ngFor="let pd of personaldetails">

                <td>{{pd.gsno}}</td>
                <td>{{pd.name}}</td>
                <td>{{pd.dob}}</td>
                <td>{{pd.dao}}</td>
                <td>{{pd.dor}}</td>
                <td>{{pd.medcat_desc}}</td>
                <td>{{pd.maritial_status}}</td>
                <td>{{pd.sex}}</td>
                <td>{{pd.trade_desc}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" *ngIf="showFamilyDetails">
    <div class="card card-container bg-info">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8 h5  text-center">
            Family Details
          </div>
        </div>
      </div>

      <div class="card-body text-center">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>GsNo</th>
                <th>Name</th>
                <th>Relation</th>
                <th>DOB</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fd of familydetails">
                <td>{{fd.gsno}}</td>
                <td>{{fd.name}}</td>
                <td>{{fd.relation_name}}</td>
                <td>{{fd.dob}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12" *ngIf="showEducationDetails">
    <div class="card card-container bg-info">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-8 h5  text-center">
            Education Details
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>GsNo</th>
                <th>Name</th>
                <th>Education</th>
                <th>University</th>
                <th>Passing Year</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ed of educationdetails">
                <td>{{ed.gsno}}</td>
                <td>{{ed.name}}</td>
                <td>{{ed.education_desc}}</td>
                <td>{{ed.university}}</td>
                <td>{{ed.year_pass}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>