<app-menu></app-menu>
<div class="row" *ngIf="!showAddBlackList">
  <div class="card card-container bg-info">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-2 text-center">
          <i class="fa fa-plus-square-o" data-toggle="tooltip" title="Add BlackList" style="color:green;font-size:30px;" (click)="addBlackList()"></i>
        </div>
        <div class="col-sm-8 h5  text-center">
          Black List Users
        </div>
        <div class="col-sm-2 text-right">
          <span class="badge badge-pill badge-danger  text-center;">{{noofBlackList}} </span>
        </div>
      </div>
    </div>


    <div class="card-body text-center">
      <div style="text-align:center;" *ngIf="deletefromBlackListmsg">
        <h5 style="color: red">Deleted successfully!</h5>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th style="width:20%">Select
                <span class="badge badge-pill badge-success  text-center;">{{selectuserList.length}}</span>
              </th>
              <th>Gs No</th>
              <th>Name</th>
              <th>DOB</th>
              <th>Mobile</th>
              <th>Date Time</th>


            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let black of blacklistuser | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">

              <td>

                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="customCheck1{{i}}" [(ngModel)]="black.selected" value="{{black}}"
                    name="blackuserCheck[{{i}}]" (change)="selectblackUserCheck($event,black)">
                  <label class="custom-control-label" for="customCheck1{{i}}"></label>
                </div>

              </td>
              <td>{{black.gsno}}</td>
              <td>{{black.name}}</td>
              <td>{{black.dob}}</td>
              <td>{{black.mobile}}</td>
              <td>{{black.datetime}}</td>
            </tr>
            <tr>
              <td>
                <button type="save" class="btn btn-sm btn-danger mt-2 mt-sm-0" (click)="deleteUser_From_BlackList()" [disabled]="disabled">
                  Delete </button>
              </td>
              <td></td>
              <td>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



<div class="row" *ngIf="showAddBlackList">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '8px' }"></ngx-loading>

  <div class="card card-container bg-info">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <!-- <li class="nav-item">
          <button type="button" class="btn btn-warning btn-sm" (click)="showUserForBlackList()">All User</button>
        </li>&nbsp;&nbsp;&nbsp; -->
        <!-- <li class="nav-item">
            <button type="button" class="btn btn-outline-success btn-sm" (click)="addUserForBlackList()">Add Manually</button>
          </li>&nbsp;&nbsp;&nbsp; -->
        <li class="nav-item">
          <!-- <button type="button" class="btn btn-warning btn-sm" (click)="backToBlackList()">Back</button> -->
          <i class="fa fa-arrow-circle-left" aria-hidden="true" data-toggle="tooltip" title="Back" style="color:green;font-size:30px;"
            (click)="backToBlackList()"></i>
          <!-- <a class="nav-link disabled" (click)="backToBlackList()">Go Go</a> -->
        </li>
      </ul>
    </div>
    <div style="text-align:center;" *ngIf="addinBlackListmsg">
      <h5 style="color: red">Add User In Black List successfully!</h5>
    </div>
    <div class="card-body text-center">
      <div *ngIf="!showuserListForBlacklist">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                Total User :
                <span class="badge badge-pill badge-danger  text-right;">{{noOfuser}} </span>
              </tr>
              <tr>
                <th style="width:20%">Select
                  <span class="badge badge-pill badge-success  text-right;">{{selectUserForBlackList}} </span>
                </th>
                <th>Gs No</th>
                <th>Name</th>
                <th>Mobile</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userdata | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                <td>
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1{{i}}" [(ngModel)]="user.selected" value="{{user}}" name="userCheck[{{i}}]"
                      (change)="selectUserCheck($event,user)">
                    <label class="custom-control-label" for="customCheck1{{i}}"></label>
                  </div>
                </td>
                <td>{{user.gsno}}</td>
                <td>{{user.name}}</td>
                <td>{{user.mobile}}</td>
              </tr>
              <tr>
                <td>
                  <button type="save" class="btn btn-sm btn-warning mt-2 mt-sm-0" (click)="addUser_In_BlackList()" [disabled]="disabled"> Add </button>
                </td>
                <td></td>
                <td>
                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div *ngIf="showuserListForBlacklist">

        <form name="form-login" #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && addBlackListManually()" novalidate>
          <div class="alert alert-danger" role="alert" *ngIf="authenticationError">LoginId or Password is Incorrect</div>
          <div class="form-group-row" [ngClass]="{ 'has-error': adminForm.submitted && !loginId.valid }">
            <label class="col-xs-3 col-form-label mr-2" for="username">Gs No
              <span class="req" style="color: Red">*</span>
            </label>
            <div class="col-xs-9">
              <input type="text" class="form-control form-control-sm" id="gsno" name="gsno" #gsno=ngModel [(ngModel)]="user.gsno" placeholder="Enter gsno"
                autocomplete="off" required />
              <div *ngIf="adminForm.submitted && !gsno.valid" class="help-block validation_require">an valid gsno is required</div>
            </div>
          </div>

          <div class="form-group-row">
            <label class="col-xs-3 col-form-label mr-2" for="username">mobile
              <span class="req" style="color: Red">*</span>
            </label>
            <div class="col-xs-9">
              <input type="number" class="form-control form-control-sm" id="mobile" name="mobile" #mobile=ngModel [(ngModel)]="user.mobile"
                placeholder="Enter mobile" required>
              <div *ngIf="adminForm.submitted && !mobile.valid" class="help-block validation_require">mobile no is required</div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-xs-3 col-xs-9">
              <button class="btn btn-outline-primary btn-sm" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<!-- -----------------------------------------------------Update News------------------------------------------------ -->

<ng-template #updateModal>
  <div class="modal-content ">
    <div class="modal-header " style="background-color:lightblue;text-align:center">
      <div class="col-sm-10">
        <h6 class="modal-title">Update Event </h6>
      </div>
      <div class="col-sm-2">
        <!-- <button type="button" class="btn btn-info btn-sm" (click)="closeModel()">close</button> -->
        <i class="fa fa-remove" (click)="closeModel()" data-toggle="tooltip" title="Close" style="color:firebrick;font-size:20px;"
          aria-hidden="true"></i>
      </div>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submit" #formControl="ngForm">
        <div class="form-group">
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="newsId" [(ngModel)]="news.id" #newsId="ngModel"
            hidden>
        </div>&nbsp;&nbsp;
        <label class="mr-sm-2 mb-0 col-form-label-sm">News Name
          <span class="req" style="color: Red">*</span>
        </label> &nbsp;&nbsp;
        <div class="form-group" [ngClass]="{ 'has-danger': newsTitle.invalid && (newsTitle.dirty || newsTitle.touched),
                                             'has-success': newsTitle.valid && (newsTitle.dirty || newsTitle.touched)}">
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="newsTitle" [(ngModel)]="news.message"
            maxlength="100" #newsTitle="ngModel" required>
          <div class="form-control-feedback" *ngIf="newsTitle.errors && (newsTitle.dirty || newsTitle.touched)">
            <p *ngIf="newsTitle.errors.required">News is Required</p>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
          <button type="button" class="btn btn-info btn-sm" (click)="updateNews()" [disabled]="!formControl.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<ng-template #deleteModal let-c="close" let-d="dismiss">

  <div class="modal-content" style="background-color: khaki;">

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">

          <h5 style="color:green; text-align: center"> Are You Sure Want To Delete</h5>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row justify-content-center">
        <div class="col-sm-12" style="margin-right: 127px;">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)=" deleteNews(news)">Yes</button>
          <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
        </div>
      </div>
    </div>

  </div>
</ng-template>