<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-expand-md  navbar-light py-md-1" style="background-color: lightgreen;font-size: small;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>Menu
      </button>

      <!-- Brand -->
      <ul class="navbar-nav">
        <!-- <li class="nav-item" style="color: navy; font-family: cursive; background-color: inherit;">Welcome : </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: navy; font-family: cursive; background-color: inherit;" data-toggle="dropdown"
            id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Welcome {{loginId.userName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" style="color: navy; font-family: cursive; background-color: inherit;" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
      <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="color: navy; font-family: cursive; background-color: inherit;" routerLink="/admin/home">
              <i class="fa fa-home" aria-hidden="true"></i>Home</a>
          </li>

          <li class="nav-item" *ngIf="addAdminView">
            <!-- <li class="nav-item"> -->
            <a class="nav-link" style="color: navy; font-family: cursive; background-color: inherit;" routerLink="/admin/account">
              <i class="fa fa-address-book" aria-hidden="true"></i>Add Admin</a>
          </li>
          <li class="nav-item">
            <!-- <li class="nav-item"> -->
            <a class="nav-link" style="color: navy; font-family: cursive; background-color: inherit;" routerLink="/admin/event">
              <i class="fa fa-address-book" aria-hidden="true"></i>Add Event</a>
          </li>
          <li class="nav-item">
            <!-- <li class="nav-item"> -->
            <a class="nav-link" style="color: navy; font-family: cursive; background-color: inherit;" routerLink="/posting">
              <i class="fa fa-suitcase" aria-hidden="true"></i>Employee Posting</a>
          </li>
          <li class="nav-item" *ngIf="loginId.appReportView">
            <!-- <li class="nav-item"> -->
            <a class="nav-link" style="color: navy; font-family: cursive; background-color: inherit;" routerLink="/apk/details">
              <i class="fa fa-arrow-circle-o-down" aria-hidden="true"></i>Employee's App Download Report</a>
          </li>
          <li class="nav-item" *ngIf="loginId.blacklistReportView">
            <!-- <li class="nav-item"> -->
            <a class="nav-link" style="color: navy; font-family: cursive; background-color: inherit;" routerLink="/blacklist/mobile">
              <i class="fa fa-stop" aria-hidden="true"></i>BlackList Employee Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: navy; font-family: cursive; background-color: inherit;" routerLink="/upload/document">
              <i class="fa fa-upload" aria-hidden="true"></i>Document Upload</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>