<app-menu></app-menu>
<div class="row">
  <div class="card card-container bg-info">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-6 h5  text-center">
          Apk Download Details
        </div>
        <div class="col-sm-6 text-center">
          <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}}</span>
        </div>
      </div>
    </div>
    <div class="card-body text-center">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Gs No</th>
              <th>Name</th>
              <th>DOB</th>
              <th>Mobile</th>
              <th>Aadhar</th>
              <th>LastDownload</th>
              <th>Download APK</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of downloadapkuser">
              <td>{{user.gsno}}</td>
              <td>{{user.name}}</td>
              <td>{{user.dob}}</td>
              <td>{{user.mobile}}</td>
              <td>{{user.aadhar}}</td>
              <td>{{user.date_time}}</td>
              <td style="color: firebrick">{{user.download_apk}} times</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>