<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" style="margin-top: 5px;">
  <div class="row grow w-100">
    <div class="col-12 bg-light py-2" style="padding-bottom: 0.5rem;">
      <header>
        <div class="row ">
          <div class="col-sm-2 text-left">
            <img class="rounded mx-auto d-block" src="../../assets/images/hill.png" alt="GREF Photo">
          </div>
          <div class="col-sm-8 text-center">
            <p class="text-uppercase font-arial font-weight-bold" style="font-size: 19px;  color: blue;margin: 0px 0px 0px 0px;">
              GREF
            </p>
            <p class="text-uppercase font-arial font-weight-bold" style="font-size: 23px;  color: blue;">
              "ABHILEKH"
            </p>
          </div>
          <div class="col-sm-2 text-center">
            <p class="font-arial font-weight-bold" style="font-size: 14px;  color: black;  margin: 0px 0px 0px 0px;">{{now | date :'mediumTime'}}</p>
            <p class="font-arial font-weight-bold" style="font-size: 14px;  color: black;"> {{now | date :'fullDate'}}</p>
          </div>
        </div>
      </header>
    </div>
    <!-- <div class="col-4 bg-info py-3">
      Menu
    </div> -->
    <div class="main col-12 bg-light h-100">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row w-100">
    <div class="col-12 py-2 bg-light">
      <footer>
        <p class="text-center" style="bottom: 0;width: 100%;">Powered By: Copyright @
          <a href="http://www.ysssolutions.net/" style="color: black; font-family: fantasy;">YSS SOFTECH PVT LTD </a>&nbsp;{{ now | date :'yyyy'}}
        </p>
      </footer>
    </div>
  </div>
</div>


<!-- <div class="container-fluid" style="margin-top: 5px;">
  <header>
    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/images/hill.png" class="img-circle mx-auto d-block" alt="GREF Photo">
      </div>
      <div class="col-sm-4">
        <p>
          GREF अभिलेख
        </p>
      </div>
      <div class="col-sm-4">
        <p class="text-right font-arial font-weight-bold" style="font-size: 14px; margin: 1px 81px 3px 0px;  color: black;">{{now | date :'mediumTime'}}</p>
        <p class="text-right font-arial font-weight-bold" style="font-size: 14px; margin: -5px 15px 0px 0px;  color: black;"> {{now | date :'fullDate'}}</p>
      </div>
    </div>
  </header>

  <hr>

  <router-outlet></router-outlet>
  <footer>
    <p class="text-center" style="bottom: 0;width: 100%;">Powered By: Copyright @
      <a href="http://www.ysssolutions.net/" style="color: black; font-family: fantasy;">YSS SOFTECH PVT LTD </a>&nbsp;{{ now | date :'yyyy'}}
    </p>
  </footer>
</div> -->