<div class="row">
  <div class="card card-container bg-info">
    <div class="card-body text-center">
      <img id="profile-img" class="profile-img-card" src="../../assets/images/LOGIN_USER.png" />
      <form name="form-login" #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && login()" novalidate>
        <!-- <div class="alert alert-danger" role="alert" *ngIf="authenticationError">LoginId or Password is Incorrect</div> -->
        <!-- <div class="form-group" [ngClass]="{ 'has-error': adminForm.submitted && !loginId.valid }"> -->
        <div class="form-group">
          <label for="username">Gs.No.
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon"
              id="gsno" name="gsno" #gsno=ngModel [(ngModel)]="admin.gsno" placeholder="Enter gsno" required />
            <div class="input-group-append">
              <i class="fa fa-user-circle-o" style="color:green;font-size:30px;"></i>
            </div>
          </div>
          <div *ngIf="adminForm.submitted && !gsno.valid" style="color: red" class="help-block validation_require">Please Enter A gsno</div>
        </div>

        <div class="form-group">
          <label for="username">DOB
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon"
              id="dob" name="dob" #dob=ngModel [(ngModel)]="admin.dob" placeholder="yyyy-mm-dd" required />
            <div class="input-group-append">
              <i class="fa fa-calendar" style="color:green;font-size:30px;"></i>
            </div>
          </div>
          <div *ngIf="adminForm.submitted && !dob.valid" class="help-block validation_require" style="color: red">an valid dob is required</div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block btn-signin" type="submit">Log in</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block btn-back" routerLink="">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>