<app-menu></app-menu>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '8px' }"></ngx-loading>
<div class="row" *ngIf="!showaddpostingpage">
  <div class="col-sm-12 text-center">
    <div class="card card-container bg-info">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-2 text-center">
            <i class="fa fa-plus-square-o" data-toggle="tooltip" title="Add Posting Details" style="color:green;font-size:30px;" (click)="showaddposting()"></i>
          </div>
          <div class="col-sm-8 h5  text-center">
            Employee Posting Details
          </div>
          <div class="col-sm-2 text-center">
            <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}}</span>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <div style="text-align:center;" *ngIf="deleteField">
          <h5 class="successmsg" style="color: green">Posting Detail Deleted successfully!</h5>
        </div>
        <div style="text-align:center;" *ngIf="updateField">
          <h5 class="successmsg" style="color: green">Posting Detail Updated successfully!</h5>
        </div>
        <div style="text-align:center;" *ngIf="authenticationError">
          <h5 class="errormsg" style="color: firebrick">Something went wrong. Please try again !</h5>
        </div>

        <div class="table-responsive">
          <!-- The actual table starts here -->
          <table class="table">
            <!-- Table contents -->
            <tr>
              <th style="width:20%;">GsNo</th>
              <th>FromUnit</th>
              <th>ToUnit</th>
              <th>PostingOrderNo</th>
              <th>NRS</th>
              <th>MoveDate</th>
              <th>Action</th>
            </tr>

            <tr *ngFor="let postings of postingList | paginate: { itemsPerPage: 10, currentPage: p }; let i=index;">
              <td>{{postings.gsno}}</td>
              <td>{{postings.from_unit}}</td>
              <td>{{postings.to_unit}}</td>
              <td>{{postings.posting_order_no}}</td>
              <td>{{postings.nrs}}</td>
              <td>{{postings.movedate}}</td>
              <td style="width: 10%;">
                <i class="fa fa-pencil-square-o" data-toggle="tooltip" title="Edit" style="color:Blue;font-size:20px;" (click)="OpenModel(postings,updateModal)"></i>
                &nbsp;&nbsp;&nbsp;
                <i class="fa fa-trash-o" data-toggle="tooltip" title="Delete" style="color:red;font-size:20px;" (click)="open(postings,deleteModal)"></i>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="card-deck-wrapper" *ngIf="showaddpostingpage">
  <div class="card-deck">

    <!-- Card 1 -->
    <div class="card card-container bg-info">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-2 text-center">
            <i class="fa fa-arrow-circle-left" aria-hidden="true" data-toggle="tooltip" title="Back" style="color:green;font-size:30px;"
              (click)="backpostingDetailsList()"></i>
          </div>
          <div class="col-sm-10 h5  text-center">
            Add Posting Details
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <div *ngIf="successmsg">
          <h5 style="text-align:center;color:green;">
            Posting Details Added Successfully!
          </h5>
        </div>
        <div *ngIf="authenticationError">
          <h5 class="errormsg" style="text-align:center;color: red">Something went wrong. Please try again!</h5>
        </div>
        <div *ngIf="excelErrormsg">
          <h5 class="errormsg" style="text-align:center;color: red">Please Upload Excel File Only!</h5>
        </div>
        <form name="form-login" #userForm="ngForm" (ngSubmit)="userForm.form.valid && savePostingDetails()" novalidate>

          <div class="form-group row">
            <label class="col-sm-5 col-form-label form-control-label text-right">GsNo
              <span class="req" style="color: Red">*</span>
            </label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" name="loginId" [(ngModel)]="user.gsno" #gsno="ngModel" placeholder="Enter gsno"
                required>
              <div *ngIf="userForm.submitted && !gsno.valid" class="help-block validation_require">Required</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label form-control-label text-right">From Unit
              <span class="req" style="color: Red">*</span>
            </label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" name="from_unit" [(ngModel)]="user.from_unit" #from_unit="ngModel"
                placeholder="Enter from_unit" required>
              <div *ngIf="userForm.submitted && !from_unit.valid" class="help-block validation_require">Required</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label form-control-label text-right">To Unit
              <span class="req" style="color: Red">*</span>
            </label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" name="to_unit" [(ngModel)]="user.to_unit" #to_unit="ngModel" placeholder="Enter to_unit"
                required>
              <div *ngIf="userForm.submitted && !to_unit.valid" class="help-block validation_require">Required</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label form-control-label text-right">Posting Order No
              <span class="req" style="color: Red">*</span>
            </label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" name="posting_order_no" [(ngModel)]="user.posting_order_no" #posting_order_no="ngModel"
                placeholder="Enter posting_order_no" required>
              <div *ngIf="userForm.submitted && !posting_order_no.valid" class="help-block validation_require">Required</div>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-sm-5 col-form-label form-control-label text-right">Nrs
              <span class="req" style="color: Red">*</span>
            </label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" name="nrs" [(ngModel)]="user.nrs" #nrs="ngModel" placeholder="Enter nrs"
                required>
              <div *ngIf="userForm.submitted && !nrs.valid" class="help-block validation_require">Required</div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-5 col-form-label form-control-label text-right">MoveDate
              <span class="req" style="color: Red">*</span>
            </label>
            <div class="col-sm-5">
              <input class="form-control form-control-sm" type="text" name="movedate" [(ngModel)]="user.movedate" #movedate="ngModel" placeholder="YYY-MM-DD"
                required>
              <div *ngIf="userForm.submitted && !movedate.valid" class="help-block validation_require">Required</div>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <input type="submit" class="btn btn-primary btn-sm" value="Save">
            </div>
            <div class="col-sm-6">
              <input type="reset" class="btn btn-secondary btn-sm" value="Reset">
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card card-container bg-info">
      <div class="card-header">
        <div class="row">
          <div class="col-sm-10 h5  text-center">
            Upload Posting Details
          </div>
          <div class="col-sm-2 text-center">
            <a data-toggle="modal" data-target="#myModal" (click)="openLg(content)">
              <i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" title="Help" style="color:navy;font-size:25px;"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-body text-center">
        <div *ngIf="currentFileUpload" class="progress">
          <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
            aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
            {{progress.percentage}}%</div>
        </div>
        <div *ngIf="excelfileupload" class="uploadMessage" style="color: greenyellow">
          Posting Details File is completely uploaded!
        </div>

        <form class="form-inline" name="myForm1" (ngSubmit)="uploadForm1.form.valid && uploadxlsPostingDocument()" #uploadForm1="ngForm">

          <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend">
              <div class="input-group-text">Upload</div>
            </div>
            <input type="file" class="form-control form-control-sm" id="inlineFormInputGroupUsername2" (change)="onXlsFileChange($event)"
              name="xlsPostingFile" #xlsPostingFile="ngModel" [(ngModel)]="user.xlsPostingFile" required>
            <div *ngIf="uploadForm1.submitted && !xlsPostingFile.valid" class="help-block validation_require"></div>
          </div>

          <button type="submit" class="btn btn-primary btn-sm">Upload</button>&nbsp;
          <button type="reset" class="btn btn-warning btn-sm" (click)="reset(1)">Reset</button>

        </form>
      </div>
    </div>

  </div>
</div>




<!-- <div class="row" *ngIf="showaddpostingpage">
  <div class="card-deck-wrapper text-center">
    <div class="card-deck">
      <div class="card card-container bg-info">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-2 text-center">
              <i class="fa fa-arrow-circle-left" aria-hidden="true" data-toggle="tooltip" title="Back" style="color:green;font-size:30px;"
                (click)="backpostingDetailsList()"></i>
            </div>
            <div class="col-sm-10 h5  text-center">
              Add Posting Details
            </div>
          </div>
        </div>
        <div class="card-body text-center">
          <div *ngIf="successField">
            <h5 class="successmsg" style="text-align:center;color:green;">
              Posting Details Added Successfully!
            </h5>
          </div>
          <div *ngIf="authenticationError">
            <h5 class="errormsg" style="text-align:center;color: red">Something went wrong. Please try again!</h5>
          </div>
          <form name="form-login" #userForm="ngForm" (ngSubmit)="userForm.form.valid && savePostingDetails()" novalidate>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">GsNo
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="loginId" [(ngModel)]="user.gsno" #gsno="ngModel" placeholder="Enter gsno"
                  required>
                <div *ngIf="userForm.submitted && !gsno.valid" class="help-block validation_require">Required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">From Unit
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="from_unit" [(ngModel)]="user.from_unit" #from_unit="ngModel"
                  placeholder="Enter from_unit" required>
                <div *ngIf="userForm.submitted && !from_unit.valid" class="help-block validation_require">Required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">To Unit
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="to_unit" [(ngModel)]="user.to_unit" #to_unit="ngModel" placeholder="Enter to_unit"
                  required>
                <div *ngIf="userForm.submitted && !to_unit.valid" class="help-block validation_require">Required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">Posting Order No
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="posting_order_no" [(ngModel)]="user.posting_order_no" #posting_order_no="ngModel"
                  placeholder="Enter posting_order_no" required>
                <div *ngIf="userForm.submitted && !posting_order_no.valid" class="help-block validation_require">Required</div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">Nrs
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="nrs" [(ngModel)]="user.nrs" #nrs="ngModel" placeholder="Enter nrs"
                  required>
                <div *ngIf="userForm.submitted && !nrs.valid" class="help-block validation_require">Required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">MoveDate
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="movedate" [(ngModel)]="user.movedate" #movedate="ngModel" placeholder="YYY-MM-DD"
                  required>
                <div *ngIf="userForm.submitted && !movedate.valid" class="help-block validation_require">Required</div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <input type="submit" class="btn btn-primary btn-sm" value="Save">
              </div>
              <div class="col-sm-6">
                <input type="reset" class="btn btn-secondary btn-sm" value="Reset">
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="card card-container bg-info">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-2 text-center">
              <i class="fa fa-arrow-circle-left" aria-hidden="true" data-toggle="tooltip" title="Back" style="color:green;font-size:30px;"
                (click)="backpostingDetailsList()"></i>
            </div>
            <div class="col-sm-10 h5  text-center">
              Add Posting Details
            </div>
          </div>
        </div>
        <div class="card-body text-center">
          <div *ngIf="successField">
            <h5 class="successmsg" style="text-align:center;color:green;">
              Posting Details Added Successfully!
            </h5>
          </div>
          <div *ngIf="authenticationError">
            <h5 class="errormsg" style="text-align:center;color: red">Something went wrong. Please try again!</h5>
          </div>
          <form name="form-login" #userForm="ngForm" (ngSubmit)="userForm.form.valid && savePostingDetails()" novalidate>

            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">GsNo
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="loginId" [(ngModel)]="user.gsno" #gsno="ngModel" placeholder="Enter gsno"
                  required>
                <div *ngIf="userForm.submitted && !gsno.valid" class="help-block validation_require">Required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">From Unit
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="from_unit" [(ngModel)]="user.from_unit" #from_unit="ngModel"
                  placeholder="Enter from_unit" required>
                <div *ngIf="userForm.submitted && !from_unit.valid" class="help-block validation_require">Required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">To Unit
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="to_unit" [(ngModel)]="user.to_unit" #to_unit="ngModel" placeholder="Enter to_unit"
                  required>
                <div *ngIf="userForm.submitted && !to_unit.valid" class="help-block validation_require">Required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">Posting Order No
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="posting_order_no" [(ngModel)]="user.posting_order_no" #posting_order_no="ngModel"
                  placeholder="Enter posting_order_no" required>
                <div *ngIf="userForm.submitted && !posting_order_no.valid" class="help-block validation_require">Required</div>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">Nrs
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="nrs" [(ngModel)]="user.nrs" #nrs="ngModel" placeholder="Enter nrs"
                  required>
                <div *ngIf="userForm.submitted && !nrs.valid" class="help-block validation_require">Required</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label form-control-label text-right">MoveDate
                <span class="req" style="color: Red">*</span>
              </label>
              <div class="col-sm-5">
                <input class="form-control form-control-sm" type="text" name="movedate" [(ngModel)]="user.movedate" #movedate="ngModel" placeholder="YYY-MM-DD"
                  required>
                <div *ngIf="userForm.submitted && !movedate.valid" class="help-block validation_require">Required</div>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-6">
                <input type="submit" class="btn btn-primary btn-sm" value="Save">
              </div>
              <div class="col-sm-6">
                <input type="reset" class="btn btn-secondary btn-sm" value="Reset">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- -----------------------------------------------------Update News------------------------------------------------ -->

<ng-template #updateModal>
  <div class="modal-content ">
    <div class="modal-header ">
      <div class="col-sm-10">
        <h6 class="modal-title">Update Posting Details </h6>
      </div>
      <div class="col-sm-2">
        <!-- <button type="button" class="btn btn-info btn-sm" (click)="closeModel()">close</button> -->
        <i class="fa fa-remove" (click)="closeModel()" data-toggle="tooltip" title="Close" style="color:firebrick;font-size:20px;"
          aria-hidden="true"></i>
      </div>
    </div>
    <div class="modal-body">
      <!-- <form (ngSubmit)="submit" #formControl="ngForm">
        <div class="form-group">
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="postingsId" [(ngModel)]="postings.id" #newsId="ngModel"
            hidden>
        </div>&nbsp;&nbsp;
        <label class="mr-sm-2 mb-0 col-form-label-sm">News Name
          <span class="req" style="color: Red">*</span>
        </label> &nbsp;&nbsp;
        <div class="form-group" [ngClass]="{ 'has-danger': newsTitle.invalid && (newsTitle.dirty || newsTitle.touched),
                                             'has-success': newsTitle.valid && (newsTitle.dirty || newsTitle.touched)}">
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="newsTitle" [(ngModel)]="news.message"
            maxlength="100" #newsTitle="ngModel" required>
          <div class="form-control-feedback" *ngIf="newsTitle.errors && (newsTitle.dirty || newsTitle.touched)">
            <p *ngIf="newsTitle.errors.required">News is Required</p>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
          <button type="button" class="btn btn-info btn-sm" (click)="updateNews()" [disabled]="!formControl.valid">Update</button>
        </div>
      </form> -->
      <form name="form-login" #userForm="ngForm" (ngSubmit)="userForm.form.valid && submit" novalidate>
        <div class="form-group row">
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="postingsId" [(ngModel)]="postings.id"
            #newsId="ngModel" hidden>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label form-control-label text-right">GsNo
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="loginId" [(ngModel)]="postings.gsno" #gsno="ngModel" placeholder="Enter gsno"
              required>
            <div *ngIf="userForm.submitted && !gsno.valid" class="help-block validation_require">Required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label form-control-label text-right">From Unit
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="from_unit" [(ngModel)]="postings.from_unit" #from_unit="ngModel"
              placeholder="Enter from_unit" required>
            <div *ngIf="userForm.submitted && !from_unit.valid" class="help-block validation_require">Required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label form-control-label text-right">To Unit
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="to_unit" [(ngModel)]="postings.to_unit" #to_unit="ngModel"
              placeholder="Enter to_unit" required>
            <div *ngIf="userForm.submitted && !to_unit.valid" class="help-block validation_require">Required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label form-control-label text-right">Posting Order No
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="posting_order_no" [(ngModel)]="postings.posting_order_no" #posting_order_no="ngModel"
              placeholder="Enter posting_order_no" required>
            <div *ngIf="userForm.submitted && !posting_order_no.valid" class="help-block validation_require">Required</div>
          </div>
        </div>


        <div class="form-group row">
          <label class="col-sm-5 col-form-label form-control-label text-right">Nrs
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="nrs" [(ngModel)]="postings.nrs" #nrs="ngModel" placeholder="Enter nrs"
              required>
            <div *ngIf="userForm.submitted && !nrs.valid" class="help-block validation_require">Required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-5 col-form-label form-control-label text-right">MoveDate
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="movedate" [(ngModel)]="postings.movedate" #movedate="ngModel"
              placeholder="YYY-MM-DD" required>
            <div *ngIf="userForm.submitted && !movedate.valid" class="help-block validation_require">Required</div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12 text-center">
            <button type="button" class="btn btn-info btn-sm" (click)="updatePostingDetail()">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<ng-template #deleteModal let-c="close" let-d="dismiss">

  <div class="modal-content" style="background-color:brown;">

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">

          <h5 style="color:whitesmoke; text-align: center"> Are You Sure Want To Delete</h5>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row justify-content-center">
        <div class="col-sm-12" style="margin-right: 127px;">
          <button type="button" class="btn btn-warning btn-sm" (click)=" deletePosting(postings)">Yes</button>
          <button type="button" class="btn btn-info btn-sm" (click)="closeModel()">No</button>
        </div>
      </div>
    </div>

  </div>
</ng-template>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" style="background-color:cadetblue;">
    <div class="col-sm-10">
      <h6 class="modal-title" id="myModalLabel" style="color:cornsilk">Upload Doc File Help Document</h6>
    </div>
    <div class="col-sm-2">
      <a class="close" data-dismiss="modal" data-toggle="tooltip" title="Close" (click)="d('Cross click')" style="color:firebrick;font-size:20px;"
        aria-hidden="true">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
    <!-- <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </div>
  <div class="modal-body">
    <div style="text-align: center;">
      <iframe src="assets\images\help_doc\Upload _DOC_HELP.pdf" frameborder="0" style="height:30%; width: 100%;"></iframe>
    </div>
  </div>
  <div class="modal-footer" style="background-color:lightblue;text-align:center">
    <div class="col-sm-12">
      <button type="button" class="btn btn-outline-danger btn-sm" (click)="c('Close click')">Close</button>
    </div>
  </div>
</ng-template>