<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-expand-md  navbar-light py-md-1" style="background-color: lightgreen;font-size: small;">

      <ul class="navbar-nav">
        <!-- <li class="nav-item" style="color: navy; font-family: cursive; background-color: inherit;">Welcome : </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: navy; font-family: cursive; background-color: inherit;" data-toggle="dropdown"
            id="Preview" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Welcome {{this.loginId[0].name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="Preview">
            <a class="dropdown-item" style="color: navy; font-family: cursive; background-color: inherit;" (click)="logoutUser()">Logout</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>

