<app-menu></app-menu>
<div class="row" *ngIf="!showaddnewspage">
  <div class="card card-container bg-info">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-2 text-center">
          <i class="fa fa-plus-square-o" data-toggle="tooltip" title="Add News" style="color:green;font-size:30px;" (click)="showaddnews()"></i>
        </div>
        <div class="col-sm-8 h5  text-center">
          News List
        </div>
        <div class="col-sm-2 text-center">
          <span class="badge badge-pill badge-danger  text-right;">{{numberOfData}}</span>
        </div>
      </div>
    </div>
    <div class="card-body text-center">
      <div style="text-align:center;" *ngIf="deleteField">
        <h5 class="successmsg" style="color: green">News Deleted successfully!</h5>
      </div>
      <div style="text-align:center;" *ngIf="authenticationError">
        <h5 class="errormsg" style="color: firebrick">Something went wrong. Please try again !</h5>
      </div>
      <div class="table-responsive">
        <!-- The actual table starts here -->
        <table class="table">
          <!-- Table contents -->
          <tr>
            <th>S.No.</th>
            <th>News Name</th>
            <th>Date-Time</th>
            <th style="text-align: center;">Action</th>
          </tr>
          <tr *ngFor="let news of newsList;let i=index;">
            <td>{{i+1}}</td>
            <td>{{news.message}}</td>
            <td>{{news.datetime | date:'short'}}</td>
            <td style="text-align: center;">
              <i class="fa fa-pencil-square-o" data-toggle="tooltip" title="Edit" style="color:Blue;font-size:20px;" (click)="OpenModel(news,updateModal)"></i>
              &nbsp;&nbsp;&nbsp;
              <i class="fa fa-trash-o" data-toggle="tooltip" title="Delete" style="color:red;font-size:20px;" (click)="open(news,deleteModal)"></i>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="showaddnewspage">
  <div class="card card-container bg-info" style="width: 40%;">
    <div class="card-header">
      <div class="row">
        <div class="col-sm-2 text-center">
          <i class="fa fa-arrow-circle-left" aria-hidden="true" data-toggle="tooltip" title="Back" style="color:green;font-size:30px;"
            (click)="backnewsList()"></i>
        </div>
        <div class="col-sm-10 h5  text-center">
          Add News Here
        </div>
      </div>
    </div>
    <div class="card-body text-center">
      <div *ngIf="successField">
        <h5 class="successmsg" style="text-align:center;color:green;">
          Event Added Successfully!
        </h5>
      </div>
      <div *ngIf="authenticationError">
        <h5 class="errormsg" style="text-align:center;color: red">Something went wrong. Please try again!</h5>
      </div>
      <form name="form-login" #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && saveNews()" novalidate>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label form-control-label">News
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-9">
              <input class="form-control form-control-sm" type="text" name="message" [(ngModel)]="admin.message" #message="ngModel" placeholder="Enter News"
              required>
            <!-- <input type="text" class="form-control form-control-sm" aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon"
              id="message" name="message" #message=ngModel [(ngModel)]="admin.message" placeholder="Enter News" required /> -->
            <div *ngIf="adminForm.submitted && !message.valid" style="color: red" class="help-block validation_require">Please Enter News</div>
          </div>
        </div>

        <!-- <div class="form-group row">
          <label for="first_name" class="col-xs-3 col-form-label mr-2">News
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-xs-9">
            <div class="input-group">
              <input type="text" class="form-control form-control-sm" aria-label="Amount (rounded to the nearest dollar)" aria-describedby="basic-addon"
                id="message" name="message" #message=ngModel [(ngModel)]="admin.message" placeholder="Enter News" required
              />
              <div class="input-group-append">
                <i class="fa fa-newspaper-o" style="color:green;font-size:30px;"></i>
              </div>
            </div>
            <div *ngIf="adminForm.submitted && !message.valid" style="color: red" class="help-block validation_require">Please Enter News</div>
          </div>
        </div> -->


        <!-- <div class="form-group row" *ngFor="let ad of admin; let i = index; let first = first; let last = last;">
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Add News Here" name="newsName{{i}}"
              maxlength="100" #newsName="ngModel" [(ngModel)]="ad.message" required />
          </div>&nbsp;
          <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">
            <i *ngIf="last && i < 5" class="fa fa-plus-circle" aria-hidden="true" data-toggle="tooltip" title="Add" style="color:Blue;font-size:20px;"
              (click)="addNews()"></i>
            <i *ngIf="!first" class="fa fa-minus-circle" aria-hidden="true" data-toggle="tooltip" title="Remove" style="color:red;font-size:20px;"
              (click)="removeNews(i)"></i>
          </label>
        </div>-->
        <div class="row justify-content-center">
          <div style="margin:10px;">
            <input type="submit" class="btn btn-primary btn-sm" value="Save">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- -----------------------------------------------------Update News------------------------------------------------ -->

<ng-template #updateModal>
  <div class="modal-content ">
    <div class="modal-header " style="background-color:lightblue;text-align:center">
      <div class="col-sm-10">
        <h6 class="modal-title">Update Event </h6>
      </div>
      <div class="col-sm-2">
        <!-- <button type="button" class="btn btn-info btn-sm" (click)="closeModel()">close</button> -->
        <i class="fa fa-remove" (click)="closeModel()" data-toggle="tooltip" title="Close" style="color:firebrick;font-size:20px;"
          aria-hidden="true"></i>
      </div>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="submit" #formControl="ngForm">
        <div class="form-group">
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="newsId" [(ngModel)]="news.id" #newsId="ngModel"
            hidden>
        </div>&nbsp;&nbsp;
        <label class="mr-sm-2 mb-0 col-form-label-sm">News Name
          <span class="req" style="color: Red">*</span>
        </label> &nbsp;&nbsp;
        <div class="form-group" [ngClass]="{ 'has-danger': newsTitle.invalid && (newsTitle.dirty || newsTitle.touched),
                                             'has-success': newsTitle.valid && (newsTitle.dirty || newsTitle.touched)}">
          <input type="text" class="form-control form-control-sm mr-sm-2 mb-2 mb-sm-0" name="newsTitle" [(ngModel)]="news.message"
            maxlength="100" #newsTitle="ngModel" required>
          <div class="form-control-feedback" *ngIf="newsTitle.errors && (newsTitle.dirty || newsTitle.touched)">
            <p *ngIf="newsTitle.errors.required">News is Required</p>
          </div>
        </div>
        &nbsp;&nbsp;
        <div class="form-group">
          <button type="button" class="btn btn-info btn-sm" (click)="updateNews()" [disabled]="!formControl.valid">Update</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>


<ng-template #deleteModal let-c="close" let-d="dismiss">

  <div class="modal-content" style="background-color: khaki;">

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-12">

          <h5 style="color:green; text-align: center"> Are You Sure Want To Delete</h5>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row justify-content-center">
        <div class="col-sm-12" style="margin-right: 127px;">
          <button type="button" class="btn btn-outline-danger btn-sm" (click)=" deleteNews(news)">Yes</button>
          <button type="button" class="btn btn-outline-info btn-sm" (click)="closeModel()">No</button>
        </div>
      </div>
    </div>

  </div>
</ng-template>