<app-menu></app-menu>
<div class="row">
  <div class="card card-container bg-info">
    <div class="card-header">
      <h5 class="mb-0">Admin Information</h5>
    </div>
    <div class="card-body text-center">
      <div *ngIf="successmsg">
        <h5 style="text-align:center;color:green;">
          Admin Account Add Successfully!
        </h5>
      </div>
      <div *ngIf="errormsg">
        <h5 style="text-align:center;color: red">Something went wrong. Please try again!</h5>
      </div>
      <form name="form-login" #userForm="ngForm" (ngSubmit)="userForm.form.valid && saveAccount()" novalidate>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label form-control-label">Login Id
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="loginId" [(ngModel)]="user.loginId" #loginId="ngModel" placeholder="Enter Login Id"
              required>
            <div *ngIf="userForm.submitted && !loginId.valid" class="help-block validation_require">an valid loginId is required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label form-control-label">Name
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="userName" [(ngModel)]="user.userName" #userName="ngModel" placeholder="Enter Name"
              required>
            <div *ngIf="userForm.submitted && !userName.valid" class="help-block validation_require">an valid username is required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label form-control-label">Mob No
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="mobile" [(ngModel)]="user.mobile" #mobile="ngModel" placeholder="Enter mobile no"
              required>
            <div *ngIf="userForm.submitted && !mobile.valid" class="help-block validation_require">an valid mobile is required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label form-control-label">Email
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="email" name="emailId" [(ngModel)]="user.emailId" #emailId="ngModel" placeholder="Enter email"
              pattern="[a-z0-9!#$%&'*+=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
              required>
            <div *ngIf="userForm.submitted && !emailId.valid" class="help-block validation_require">an valid emailId is required</div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 col-form-label form-control-label">User Type
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <select id="user_time_zone" class="form-control form-control-sm" size="0" name="userType" [(ngModel)]="user.userType" #userType="ngModel"
              required>
              <option [value]="0">Select</option>
              <option value="superadmin">SuperAdmin</option>
              <option value="admin">Admin</option>
            </select>
            <div *ngIf="userForm.submitted && !userType.valid" class="help-block validation_require">an valid userType is required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label form-control-label">Password
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="password" name="password" [(ngModel)]="user.password" #password="ngModel"
              placeholder="Enter password" required>
            <div *ngIf="userForm.submitted && !password.valid" class="help-block validation_require">an valid password is required</div>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-3 col-form-label form-control-label">Confirm
            <span class="req" style="color: Red">*</span>
          </label>
          <div class="col-sm-5">
            <input class="form-control form-control-sm" type="password" name="confPassword" [(ngModel)]="user.confPassword" #confPassword="ngModel"
              placeholder="Confirm password" required>
            <div *ngIf="userForm.submitted && !confPassword.valid" class="help-block validation_require">an valid confPassword is required</div>
          </div>
        </div>


        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Select All</th>
                <th>App Report</th>
                <th>Black List Report</th>
                <!-- <th>Document Upload</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="selectAllCheck" name="selectAll" (change)="isselectAllChecked()"
                      [(ngModel)]="user.selectAllView" #selectAll="ngModel">
                    <label class="custom-control-label" for="selectAllCheck"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="appReportCheck" name="appReport" [(ngModel)]="user.appReportView"
                      #appReport="ngModel">
                    <label class="custom-control-label" for="appReportCheck"></label>
                  </div>
                </td>
                <td>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" class="custom-control-input" id="blacklistReportCheck" name="blacklistReport" [(ngModel)]="user.blacklistReportView"
                      #blacklistReport="ngModel">
                    <label class="custom-control-label" for="blacklistReportCheck"></label>
                  </div>
                </td>
                <!-- <td>
                <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="documentuploadReportCheck" name="documentuploadReport" [(ngModel)]="user.documentuploadReportView"
                    #documentuploadReport="ngModel">
                  <label class="custom-control-label" for="documentuploadReportCheck"></label>
                </div>
              </td> -->
              </tr>
            </tbody>
          </table>
        </div>

        <div class="form-group row">
          <div class="col-sm-6">
            <input type="submit" class="btn btn-primary btn-sm" value="Save">
          </div>
          <div class="col-sm-6">
            <input type="reset" class="btn btn-secondary btn-sm" value="Reset">
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
<!-- /form user info -->