.validation_require{
    color:red;
}


.card-container.card {
    max-width: 730px;
    padding: 40px 40px;
    margin: auto;
}

.col-form-label {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: unset;
    margin-bottom: 0;
    font-size: small;
    color: whitesmoke;
    
}



