<div class="row">
  <div class="card card-container bg-info">
    <div class="card-body text-center">
      <img id="profile-img" class="profile-img-card" src="../../assets/images/LOGIN_IMG.png" />
      <form name="form-login" #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && adminLogin()" novalidate>
        <!-- <div class="alert alert-danger" role="alert" *ngIf="authenticationError">LoginId or Password is Incorrect</div> -->
        <div class="form-group" [ngClass]="{ 'has-error': adminForm.submitted && !loginId.valid }">
          <label for="username">Login Id
            <span class="req" style="color: Red">*</span>
          </label>
          <input type="text" class="form-control" id="loginId" name="loginId" #loginId=ngModel [(ngModel)]="admin.loginId" placeholder="Enter LoginId"
            autocomplete="off" required />
          <div *ngIf="adminForm.submitted && !loginId.valid" class="help-block validation_require">Please Enter A Valid LoginId</div>
        </div>

        <div class="form-group">
          <label for="username">Password
            <span class="req" style="color: Red">*</span>
          </label>
          <input type="password" class="form-control" id="password" name="password" #password=ngModel [(ngModel)]="admin.password"
            placeholder="Enter Password" required>
          <div *ngIf="adminForm.submitted && !password.valid" class="help-block validation_require">Please Enter A Valid Password</div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block btn-signin" type="submit">Log in</button>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block btn-back" routerLink="">Back</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<!-- <div class="row">
  <div class="col-sm-12"> -->
<!----------------------------------------------------LoginIn Page------------------------------------------------------- -->

<!-- <div class="card card-container" *ngIf="loginpage"> -->
<!-- <div style="text-align: center;" *ngIf="authenticationError">
              <h6 class="errormsg">LoginId or Password is Incorrect</h6>
          </div> -->
<!--<img id="profile-img" class="profile-img-card" src="../../assets/images/LOGIN_IMG.png" />

       <form name="form-login" #adminForm="ngForm" (ngSubmit)="adminForm.form.valid && adminLogin()" novalidate>
        <div class="alert alert-danger" role="alert" *ngIf="authenticationError">LoginId or Password is Incorrect</div>
        <div class="form-group" [ngClass]="{ 'has-error': adminForm.submitted && !loginId.valid }">
          <label for="username">Login Id
            <span class="req" style="color: Red">*</span>
          </label>
          <input type="text" class="form-control" id="loginId" name="loginId" #loginId=ngModel [(ngModel)]="admin.loginId" placeholder="Enter LoginId"
            autocomplete="off" required />
          <div *ngIf="adminForm.submitted && !loginId.valid" class="help-block validation_require">an valid loginId is required</div>
        </div>

        <div class="form-group">
          <label for="username">Password
            <span class="req" style="color: Red">*</span>
          </label>
          <input type="password" class="form-control" id="password" name="password" #password=ngModel [(ngModel)]="admin.password"
            placeholder="Enter Password" required>
          <div *ngIf="adminForm.submitted && !password.valid" class="help-block validation_require">Password is required</div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary btn-block btn-signin" type="submit">Log in</button>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-outline-success btn-sm" routerLink="" role="button">Back</a>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-sm-12">
    <div class="card-footer" style="text-align: center;">
      Copyright @ Yss Softech Pvt Ltd.
    </div>
  </div>
</div> -->