<div class="col-sm-12" style="text-align: center">
  <div class="jumbotron">
    <div class="alert alert-success alert-dismissible" role="alert">
      <strong>Congratulations!</strong> You successfully Created a Account
    </div>
  </div>
</div>