<div class="card-group">
  <div class="card">
    <div class="card-body text-center">
      <!-- <h4 class="card-title">Card title</h4> -->
      <div class="circle">
        <a routerLink="/user" data-toggle="tooltip" title="Click Here For Downlaod MobileApp">
          <h4>
            <p>Mobile App</p>
            <p>Downlaod</p>
            <p>Here</p>
          </h4>
        </a>
      </div>
      <div class="circle">
        <a routerLink="/admin" data-toggle="tooltip" title="Click Here For Login">
          <h4>
            <p>Admin</p>
            <p>Login</p>
            <p>Here</p>
          </h4>
        </a>
      </div>
    </div>
  </div>
</div>